@{
    ViewData["Title"] = "Home Page";
}
<div align="center">
    <h4>Random Word (attempt #@ViewBag.count)</h4>
    <div id="box">
        <h2> @ViewBag.word </h2>
    </div><br>
    <form action="process" method="get">
        <button type="submit">Generate</button>
    </form>
</div>